<div *ngIf="showHeader()">
	<nav class="navbar navbar-expand-lg navbar-light">
		<a class="navbar-brand" href="#" [routerLinkActive]="['active']" routerLink="/dashboard">EMart</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link"  [routerLinkActive]="['active']" routerLink="/myorder">Manage My Orders</a>
			</div>
			<div class="navbar-nav" style="right: 5px;position: absolute;">
				<a class="nav-item nav-link"  [routerLinkActive]="['active']" routerLink="/" (click)="logout($event)">Logout</a>
			</div>
		</div>
	</nav>
</div>
